.errorContainer, .contentWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.errorContainer {
    height: 100%;
    width: 100%;
}

.contentWrapper {
    padding-top: 1rem;
}

.contentWrapper h1 {
    font-size: x-large;
}